* {
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

$color-used: skyblue;
$bg: rgb(178, 180, 75);
$text-color: #000;
$link-color: blue;
$border-color: grey;

//default styles
.title {
  font-size: 2 rem;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

.flex {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  gap: 1rem;
}

.navigation {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: $bg;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 5px (#000);

  .left {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;

    div {
      &:nth-child(1) {
        h1 {
          font-size: 1.8rem;
        }
      }

      &:nth-child(2) {
        h1 {
          font-size: 1rem;
          font-weight: 800;
        }
      }
    }

    .work {
      &::before {
        content: "";
        background: green;
        height: 60%;
        width: 5px;
        left: 45%;
        position: absolute;
      }
    }
  }

  .right {
    .list {
      padding: 0;
      margin: 0;
      gap: 1.5rem;

      li a {
        &:hover {
          color: $color-used;
        }
      }
    }
  }
}

.section1 {
  background-color: $color-used;
  margin: 10rem auto 3rem auto;
  padding: 0 2rem;
  width: 80vw;
  height: 40vh;
  grid-template-areas: "one two";

  .pic {
    margin-top: -2rem;
    grid-area: one;
    justify-content: center;
    align-items: center;

    img {
      height: 95%;
      margin-top: 1rem;
    }
  }

  .content {
    grid-area: two;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    div {
      flex-direction: column;
      gap: 0.6rem;

      .first {
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
      }

      .tag {
        color: #fff;
        font-size: 2rem;
      }
    }

    button {
      border: none;
      padding: 0.9rem 1.2rem;
      border-radius: 2rem;
      margin: 1rem 0;
      cursor: pointer;
      background: #000;
      color: #fff;
      font-size: 1rem;
    }

    a {
      span i {
        color: $color-used;
      }
    }
  }
}

// banner section
.section2 {
  margin-top: 100px;
  .container {
    border: 2px solid $border-color;
    margin: auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 7rem;
    max-width: 90%;
    border-radius: 70px;
    gap: 3rem;

    .info-list {
      justify-content: space-around;
      width: 100%;
      align-items: center;
      gap: 6rem;
    }

    .info-content {
      .icon-container {
        width: 3rem;
        height: 3rem;
        background: $color-used;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }

      i {
        font-size: 1.4rem;
        color: white;
      }

      span {
        h5 {
          letter-spacing: 2px;
        }

        p {
          color: goldenrod;
        }
      }
    }

    .info-divider {
      width: 2px;
      height: 35px;
      background: green;
    }
  }
}

// skill section
.section3 {
  margin: 4rem 1rem;

  .skill-container {
    justify-content: center;
    gap: 10rem;

    div {
      flex-direction: column;
      align-items: center;
      font-weight: 700;

      i {
        font-size: 4rem;
      }
    }
  }
}

// project section

.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;

  .project-list {
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    gap: 2.5rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .project {
      cursor: pointer;
      flex-direction: column;
      box-shadow: 0px 4px 12px 4px #000;

      .img {
        img {
          width: 100%;
          height: 250px;
        }
      }

      div {
        &:nth-child(2) {
          flex-direction: column;
          margin-top: 1.2rem;
          padding: 1rem;

          p {
            font-size: 1rem;
          }

          h2 {
            margin-top: 1.1rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

// about me section
.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .about-container {
    grid-template-columns: 50% 50%;
    grid-template-areas: "two one";

    .img {
      grid-area: one;
      position: relative;

      padding: 0 2rem;

      .bg {
        width: 100%;
        height: 80%;
        background: $color-used;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }

      img {
        width: 100%;
      }
    }

    .side {
      grid-area: two;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 0 2rem;

      h2 {
        font-size: 3.5rem;
      }
      .interest {
        flex-direction: column;
      }

      a {
        color: $link-color;
        text-decoration: underline;
      }

      .about {
        line-height: 50px;
      }
    }
  }
}

// get in touch section
.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;

  .contact-container {
    padding: 4rem;
    gap: 8rem;

    i {
      font-size: 4rem;

      &:nth-child(-n + 2) {
        color: blue;
      }

      &:nth-child(4) {
        color: skyblue;
      }
    }
  }

  .email-section {
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    gap: 2rem;

    .email {
      background: #000;
      color: #fff;
      border-radius: 100px;
      align-items: center;
      cursor: pointer;
      gap: 1rem;
      padding: 1rem 2rem;

      .send {
        background: rgb(35, 179, 121);
        z-index: 999;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 16rem;
  background: #000;
  color: #fff;
  gap: 3rem;
  .top {
    justify-content: space-between;
    align-items: flex-start;

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        text-align: center;
      }
    }
  }
  .bottom {
    justify-content: center;
    align-items: center;
  }
}
