* {
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

$color-used: skyblue;
$bg: rgb(178, 180, 75);
$text-color: #000;
$link-color: blue;
$border-color: grey;

//default styles
.title {
  font-size: 2 rem;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

.flex {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  gap: 1rem;
}

.navigation {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: $bg;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 5px 5px (#000);

  .left {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;

    div {
      &:nth-child(1) {
        h1 {
          font-size: 1.8rem;
        }
      }

      &:nth-child(2) {
        h1 {
          font-size: 1rem;
          font-weight: 800;
        }
      }
    }

    .work {
      &::before {
        content: "";
        background: green;
        height: 60%;
        width: 5px;
        left: 45%;
        position: absolute;
      }
    }
  }

  .right {
    .list {
      padding: 0;
      margin: 0;
      gap: 1.5rem;

      li a {
        &:hover {
          color: $color-used;
        }
      }
    }
  }
}

.section1 {
  background: $color-used;
  margin: 10rem auto 3rem auto;
  padding: 0 2rem;
  width: 80vw;
  height: 40vh;
  grid-template-areas: "two one";

  .pic {
    margin-top: -29rem;
    grid-area: one;
    justify-content: center;
    align-items: center;

    img {
      height: 105%;
    }
  }

  .content {
    grid-area: two;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    div {
      flex-direction: column;
      gap: 0.6rem;

      .first {
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
